
server {
 listen 80;
 listen [::]:80;
 server_name "";
 location / {
    proxy_pass http://127.0.0.1:8085;
}
}
server {
    listen 80;
    listen [::]:80;
    server_name {{ env }}-{{ app_name }}.kundrupu.in;
    access_log /var/log/nginx/{{ env }}-{{ app_name }}.access.log;
    error_log /var/log/nginx/{{ env }}-{{ app_name }}.error.log info;

if ($http_x_forwarded_proto != "https") {
            rewrite ^(.*)$ https://$server_name$1 permanent;
                   }
location / {
   proxy_set_header X-Real-IP $remote_addr;
   proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
   proxy_set_header Host $http_host;
   proxy_set_header X-NginX-Proxy true;
   proxy_pass http://127.0.0.1:8085;
   proxy_redirect off;

}

    client_max_body_size 25m;
    proxy_read_timeout 100;


}
